@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-center text-primary">Payment Successful</h1>
        Order Number is : @Model <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Payment has been applied successfully! <br />
        <a asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary m-3">Back to Order Details</a>
    </div>
</div>